$header: 'Baloo Bhai', cursive;
$text: 'Lato', sans-serif;
$theme: #75E8E0;
$theme2: #E839BD;
$theme-gray: #e3e3e3;
.event{
  width: 100%;
  position: relative;
}
.tag {
  position: absolute;
  font-family: $text;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background: $theme-gray;
  border-radius: 20px;
  font: $text;
  text-decoration: none;
  color: #191919;
}
.c-body {
  color: white;
  background-color: #191919;
  padding: 15px;
  h1 {
    font-size: 3em;
    font-family: $header;
    color: white;
    margin: 0 0 10px 0;
  }
  p {
    font-family: $text;
    color: white;
    font-weight: 300;
  }
}

.c-footer {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      overflow: hidden;
      width: 50%;
    }
  }
}

.users-container {
  display: flex;
  flex-wrap: wrap;
}